body {
    width: 80%;
    font-family: arial;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10%;
}

.zoek {
    text-align:right;
    margin:20px 0px;
    color: red;
}

#show_up{
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    display: none;
    text-align: right;
    padding: 5px;
}
#show_up a {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 5px;
}
